.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  background-color: #f9f9f9;
  padding: 8px;
  border-radius: 4px;
  margin: 5px 0;
  border: solid 1px #e6e6e6;
}

form button {
  background-color: rgb(176, 176, 248);
  margin: 10px 15px 0;
}

.error {
  border: rgb(158, 60, 60) solid 1px;
}

.App form .errorMessage {
  color: rgb(158, 60, 60);
  font-size: 8px;
  text-align: center;
  width: 100%;
  margin-top: -3px;
}